.scss { border: .5px solid black; border-bottom-width: 4px; font-size: 14px; 
    line-height: 20px; position: relative; }
.ignore { margin: 10px; background-color: red; } 
.box { width: 180px; height: 300vw;display: flex; 
    .as{display: inline;}
}
:root {
    --heading-color: #ff0000;
}

@custom-selector :--headings .test;

:--headings { 
    color: var(--heading-color);
}

$url:"../../component/logo";
.asd {
  background:url('#{$url}/job.png') 0 0 / 100% 100% ;
}

@mixin Function_mixin($i ){
    -webkit-line-clamp: $i; 
}
.text-overflow2{ @include Function_mixin(2); }  

@for $i from 1 through  10 {  
    .mt-#{$i*5} {
        margin-top: $i*5+px ;
    }
}
@each $i in 0,12,14,15,16,18,20,22,24,26,28,30,50 {
    .f-#{$i} { font-size: $i+px; }
}
